.w-20{
  width:20%;
}
.w-30{
  width:30%;
}
.logo-text{
  width:140px;
}
.bi{
  margin-right: 10px;
}
.bg-info{
  height:90px;
}
.dp{
  height:30px;
  margin-top: 3px;
  margin-right:5px;
  margin-bottom:5px;

}
.image{
  width:390px;
}
.suggestions h5{
  font-size: 16px;
}
.suggestions .dp{
  margin-top: 0px !important;
}
.gradient-border {
  width: 70px; /* Outer size */
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
  margin: 5px;
}
.story-dp{
  width:60px;
}
.profile{
  width:100px;
  
}
